---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>Coming soon...</title>
	</head>
	<body class="bg-[#111] text-white text-center">
		<div
			style={{
				background: `radial-gradient(rgba(255, 255, 255, 0.1) 8%, transparent 8%)`,
				backgroundPosition: "0% 0%",
				backgroundSize: "2.5vmin 2.5vmin",
				height: "100vh",
				zIndex: 5,
			}}
		>
			<div
				class="w-screen h-screen flex justify-center items-center top-1/2"
			>
				<div class="flex flex-col justify-center items-center gap-4">
					<img
						src="favicon.svg"
						alt="logo"
						class="w-36 h-36 animate-pulse"
					/>
					<div class="flex flex-col items-center">
						<p class="text-charcoal-400 text-lg">
							Introducing Campsite...
						</p>
						<h1 class="text-4xl font-bold">
							The cosiest social platform.
						</h1>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
